/*
.sections[open] .sub-summary{
  margin-top: 10px;
}
*/

#sub-section{
  font-size: 22px;
  color: rgba(70, 70, 70, 1);
}

.sections summary{
  margin-top: 10px;
}

.sub-summary-content{
  margin-top: 15px;
}

.sub-summary-content li{
  list-style: circle;

}

.sub-summary-content ol li{
  list-style: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.project-anotations{
  display: flex;
  flex-direction: column;
}

