<article class="spring-security">

  <div id="title">
    <img src="http://localhost:3700/api/get-image/lH2qdoib2LT6zFPRPfsMQoY0.png">
    <h2>Spring Security Project</h2>
    <p>En este proyecto se condensa todo lo aprendido sobre Spring Security y OAuth 2.0</p>
  </div>

  <div class="keywords">
    <h2>Palabras clave</h2>
    <ul>
      <li><a href="">Spring Data JPA:</a>
        Persist data in SQL stores with Java Persistence API using Spring Data and Hibernate.</li>
      <li><a href="">H2 DataBase:</a>
        Build web, including RESTful, applications using Spring MVC. Uses Apache Tomcat as the default embedded container.</li>
      <li><a href="">Validation:</a>
        Bean Validation with Hibernate validator.</li>
      <li><a href="">Spring Web:</a>
        Build web, including RESTful, applications using Spring MVC. Uses Apache Tomcat as the default embedded container.</li>
      <li><a href="">Lombok:</a>
        Java annotation library which helps to reduce boilerplate code.</li>
    </ul>
  </div>
  <br><br>

  <div class="first">
    <h2>Primeros "Pasos"</h2>
    <ol>

      <li>Usar "<a href="https://start.spring.io/">spring initialzr</a>" para crear proyecto.
        <ul>
          <li><a>Caracteristicas basicas:</a>  Project-Maven, Spring Boot-3.2.3, Packaging-Jar, </li>
          <li><a>Dependencias:</a> Spring Data JPA, H2 DataBase, Validation, Spring Web</li>
        </ul>
      </li>

      <li>Genereamos el archivo zip, descomprimimos y lo inicializamos con InteliJ</li>

      <li>En Java-amadorcf.es-project creamos la estructura de los diferentes packages del proyecto
        <ul>
          <li><a>controller:</a>   </li>
          <li><a>service:</a> </li>
          <li><a>dto:</a> </li>
          <li><a>persistance(entity y repository)</a>  </li>
          <li><a>exception:</a> </li>
          <li><a>service:</a> </li>
        </ul>
      </li>

    </ol>
  </div>
  <br><br>

  <div class="first">
    <h2>Crear BACK-END</h2>
    <ol>

      <li><strong>ENTITY (Java CLASS)</strong>
        <ul>
          <li>Crear clase Product</li>
          <li>Agregar las diferentes anotaciones "&#64;Entity", "&#64;Id", "&#64;GeneratedValue", "&#64;Enumerable"</li>
          <li>Agregar Getter y Setters (Atajo: ALT+Insert)</li>
        </ul>
      </li>

      <li><strong>SERVICE (Java INTERFACE)</strong>
        <ul>
          <li>Crear interface ProductService</li>
          <li>Agregar las diferentes anotaciones "&#64;Entity", "&#64;Id", "&#64;GeneratedValue", "&#64;Enumerable"</li>
          <li>Agregar Getter y Setters (Atajo: ALT+Insert)</li>
        </ul>
      </li>

      <li><strong>CONTROLLER (Java CLASS)</strong>
        <ul>
          <li>Crear interface ProductService</li>
          <li>Agregar las diferentes anotaciones "&#64;Entity", "&#64;Id", "&#64;GeneratedValue", "&#64;Enumerable"</li>
          <li>Agregar Getter y Setters (Atajo: ALT+Insert)</li>
        </ul>
      </li>

    </ol>
  </div>
  <br><br>


</article>
