<div class="contact-container">
  <h1>Contacto</h1>
  <hr><br>

  <div id="texto" #textos>
    <p appResaltado>
      Esta es la pagina de contacto, puedes enviarme cualquier duda
    </p>
  </div>


  <!--
  <input type="number" [(ngModel)]="widthSlider" ><br>  (keyup.enter)="cargarSlider()"
  <button (click)="cargarSlider()">Cargar slider</button>
  <button type="reset" id="limpiar" (click)="reiniciarSlider()">Reiniciar slider</button>

  <div *ngIf="anchoToSlider">

    <slider
      [anchura]="anchoToSlider"
      (getAutor)="getAutor($event)"
    ><p *ngIf="autor"></p></slider>

    <div>
      <p *ngIf="autor" style="text-align: center">{{autor.nombre + " " + autor.website}}</p>
    </div>
  </div>
  -->


</div>


