.carousel-project {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-project img {
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: block; /* Asegura que no haya espacios extra */
  margin: 0 auto; /* Centra la imagen */
  filter: grayscale(0.4);
  transition: all 300ms;
}

.carousel-project img:hover{
  filter: grayscale(0);
  transform: scale(1.05, 1.05);
}


.carousel-project h3, a {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  text-align: center;
}


/* .carousel-project a .in-development{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(252, 252, 252, 0.8);
  color: var(--text-color);
  border-radius: 10px;
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
}

.carousel-project a:hover > .in-development {
  opacity: 1;
  visibility: visible;
} */

.carousel-project a > .in-development{
  position: absolute;
  bottom: 56px;
  padding-top: 62px;
  padding-bottom: 62px;
  background-color: rgba(252, 252, 252, 0.9);
  transition: all 800ms ease-out;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}
.carousel-project a:hover > .in-development {
  opacity: 1;
  visibility: visible;
}

.carousel-project a > .in-development h1{
  width: 246px;
  font-size: 28px;
  transition: all 400ms ease-out;
}

.carousel-project a:hover > .in-development h1{
  color: var(--text-color);
  margin-bottom: 0;
}

.carousel-project img:hover{
  filter: grayscale(0);
  transform: scale(1.05, 1.05);
}
.carousel-project .no-hover img:hover {
  filter: none;
  transform: none;
}

/* INDICADORES DEL CARRUSEL*/
.p-carousel-indicators {
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
}
.p-carousel-indicator {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.p-carousel-indicator.p-highlight {
  background-color: #007ad9;
}

@media all and (max-width: 950px) {
  .carousel-project img {
    height: 120px;
  }

}


