<p-carousel [value]="projects" [numVisible]="3" [numScroll]="1" [circular]="true"  autoplayInterval="6000" [responsiveOptions]="responsiveOptions" [showIndicators]="true">
  <ng-template pTemplate="project" let-project class="project">
    <div class="carousel-project">
      <a [routerLink]="project.name !== 'YourBank' ? ['/project', project.name] : ['/project', project.name]"
      (click)="checkRedirect(project.name, $event)">

        <div [ngClass]="{'no-hover': project.name === 'YourCommerce'}" class="project-image-container">
          <img *ngIf="project.image" [src]="project.image" [alt]="project.name" />
          <span class="label-new" *ngIf="project.name == 'YourBank'">Actualizado</span>
          <span class="label-new in-development" *ngIf="project.name == 'YourCommerce'">🚧 En desarrollo </span>
        </div>

        <h3>{{ project.name }}</h3>

      </a>
    </div>
  </ng-template>
</p-carousel>
