<div class="detail-container" *ngIf="project">

  <div class="project__images">
    <div class="detail__title">
      <h1>{{project.name}}</h1>
    </div>
    
    <div class="bxslider">
      <div *ngIf="project.image"><img src="{{project.image}}" alt="Imagen principal"></div>

      <!-- En construccion -->
      <ng-container *ngIf="urlYes" >
        <div *ngFor="let img of images">
          <img [src]= " '../../../assets/img/project/' + imgUrl +'/'+ img " >
        </div>
      </ng-container>


    </div>

    <ul class="list-inline dev-icons">
<!--       <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="Java"
          class="bx bxl-java"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="SpringBoot Framework"
          class="bx bxl-spring-boot"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="JavaScript"
          class="bx bxl-javascript"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="Angular"
          class="bx bxl-angular"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="Python"
          class="bx bxl-python"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="Django Web Framework"
          class="bx bxl-django"></i></li>
      <li _ngcontent-ng-c117347906="" class="list-inline-item"><i _ngcontent-ng-c117347906="" title="Google Suite Framework"
          class="bx bxl-google"></i></li> -->
    </ul>

  </div>

  <!-- <h2>Proyecto: {{project.name}}</h2> -->
  <div class="project-details">
    <div class="data">
      <!-- <h1>{{project.name}}</h1> -->
      <div class="project__description project-field">
        <h3 class="tag">descripcion</h3>
        <p id="fDescription" [innerHTML]="formatedDescription"></p>
      </div>
      <div class="project__category project-field">
        <h3 class="tag">categoria</h3>
        <p>{{project.category}}</p>
      </div>
      <div class="project__year project-field">
        <h3 class="tag">año</h3>
        <p>{{project.year}}</p>
      </div>
      <div class="project__langs project-field">
        <h3 class="tag">tecnologias</h3>
        <p>{{project.langs}}</p>
      </div>
      <div class="project__link project-field" *ngIf="project.link">
        <h3 class="tag">link</h3>
        <p><a type="url" href="{{project.link}}">{{project.name}}</a></p>
      </div>

      <div class="detail-config">
        <div>
          <p *ngIf="confirm == false">
            <a [routerLink]="['/edit-project', project.id]" class="button-edit acf show">Editar</a>
            <a (click)="setConfirm(true)" class="button-delete acf show">Borrar</a>
          </p>
        </div>

        <div>
          <p *ngIf="confirm == true">
            <span class="confirm">¿Estas seguro de eliminar este proyecto?</span>
            <a (click)="setConfirm(false)" class="button-edit acf show">Cancelar</a>
            <a (click)="deleteProject(project.id)" class="button-delete acf show">Eliminar definitivamente</a>
          </p>
        </div>

      </div>

      <div class="projects__button">
        <a href="/projects"> <i class='bx bxs-chevron-left-circle'></i>  VOLVER</a>
      </div>

    </div>
  </div>

</div>


