<div id="title">
  <img id="cartoon" src="../../../assets/img/carton22.jpg" alt="">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{email}}</p>
</div>

<article class="about">
  <h2>Sobre mi</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas libero lacus, rhoncus ut nunc vel, malesuada rhoncus dolor. Ut facilisis, odio eget consectetur tempor, mi lectus imperdiet erat, id porttitor lorem tellus non felis. In sit amet efficitur dolor. Integer molestie imperdiet sem, fringilla maximus ex. In varius, nisi sit amet mattis imperdiet, eros erat imperdiet odio, a fringilla justo odio sit amet ligula. Vestibulum condimentum, elit nec tempor rhoncus, sem lorem porttitor neque, nec finibus ligula massa eu nunc. Sed pretium tortor tortor, imperdiet sollicitudin dolor laoreet sit amet. Vivamus non diam semper, eleifend magna ac, volutpat odio.</p>
</article>
