<div class="about">
  
  <div class="cardContainer" #cardContainer>
    <div class="my-img" #myImg>
      <img id="cartoon" src="../../../assets/img/cartoon33.png">
    </div>

    <div class="cardContainer-info">
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
      <p>Desarrollador autodidacta buscando nuevas experiencias de <strong>desarrollo de software y aplicaciones
          web</strong>.</p>

      <div class="border">
        <a href="mailto:amadorcf@outlook.com" id="mail">
          <i class='bx bx-envelope' title="{{email}}"></i> {{email}}
        </a>

        <div class="about-icons">
          <a href="/resume" id="resume-icon">
            <i class='bx bx-search-alt-2' title="Ver CV"></i>cv
          </a>
          <a href="https://www.linkedin.com/in/amadorcf/" target="_blank" class="social__link">
            <i class="bx bxl-linkedin-square social__icon" title="LinkedIn"></i>
          </a>
          <a href="https://github.com/amadorcf" target="_blank" class="social__link">
            <i class="bx bxl-github social__icon" title="GitHub"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- PROJECTS -->
  <div class="carousel">
    <div class="main-title">
      <h2 class="h2-title">Proyectos</h2>
    </div>
    <app-carousel></app-carousel>
  </div>

  <!-- ABOUT -->
  <div class="about-content">

    <h2 class="h2-title">Sobre mi</h2>
    <p>
      <!-- ¡Hola! Soy Amador, un desarrollador autodidacta buscando nuevas experiencias de <strong>desarrollo de software y aplicaciones web</strong>.
      <br><br> -->
      Mi objetivo es convertirme en desarrollador Full-Stack y aunque llevo poco tiempo en este mundo, gracias a mi
      anterior experiencia como ingeniero, dedicación y ganas de aprender, confio en alcanzar este objetivo y asi
      contribuir en cualquier proyecto en el que participe.
      <br><br>
      En mi portafolio, además de ojear mi <strong><a href="/resume">currículum</a></strong>, podrás encontrar una
      selección de mis primeros <strong><a href="/projects">proyectos</a></strong>, que muestran mi capacidad para
      diseñar y desarrollar aplicaciones utilizando las tecnologías que he aprendido de manera autodidacta en los
      últimos años.
      <br><br>
      Si buscas un desarrollador proactivo, comprometido y apasionado por su trabajo, no dudes en ponerte en <strong><a
          href="/contact">contacto</a></strong> conmigo. Estoy siempre abierto a nuevas oportunidades de aprendizaje y
      colaboración.
      <br><br>
    </p>

    <div class="about-buttons">
      <!--       <div class="projects-button">
        <a href="/projects">Proyectos</a>
      </div> -->

      <div class="resume-button">
        <a href="/resume">Ver CV</a>
      </div>

      <div class="contact-button">
        <a href="/contact">Contacta</a>
      </div>
    </div>

  </div>


  <!-- SKILLS -->
  <div class="skills__progressBar">

    <!--   *******  Main Heading Starts  *******   -->
    <div class="main-title">
      <h2 class="h2-title">Habilidades</h2>
    </div>

    <!--   *******  Main Heading Ends  *******   -->
    <div class="row">

      <!--   *******  Left Section Starts here  *******   -->
      <section class="col">

        <div class="sub-title">
          <h2>Lenguajes</h2>
        </div>

        <div class="skills-skills__progressBar">

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-java'></i>
            </div>
            <div class="skill-content">
              <div class="subject">Java</div>
              <div class="progress-bar" value="91%">
                <div class="progress-line" style="max-width: 91%"></div>
              </div>
            </div>
          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-html5'></i>
            </div>
            <div class="skill-content">
              <div class="subject">HTML</div>
              <div class="progress-bar" value="94%">
                <div class="progress-line" style="max-width: 94%"></div>
              </div>
            </div>
          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-css3'></i>
            </div>
            <div class="skill-content">
              <div class="subject">CSS</div>
              <div class="progress-bar" value="86%">
                <div class="progress-line" style="max-width: 86%"></div>
              </div>
            </div>
          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-javascript'></i>
            </div>
            <div class="skill-content">
              <div class="subject">JavaScript</div>
              <div class="progress-bar" value="88%">
                <div class="progress-line" style="max-width: 88%"></div>
              </div>
            </div>
          </div>



          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-python'></i>
            </div>
            <div class="skill-content">
              <div class="subject">Python</div>
              <div class="progress-bar" value="74%">
                <div class="progress-line" style="max-width: 74%"></div>
              </div>
            </div>
          </div>

        </div>
      </section>

      <!--   ********  Left Section Ends Here  *******  -->

      <!--   ********  Right Section Starts Here  ********  -->

      <section class="col">

        <div class="sub-title">
          <h2>Frameworks & Herramientas </h2>
        </div>

        <div class="skills-skills__progressBar">

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-spring-boot'></i>
            </div>
            <div class="skill-content">
              <div class="subject">SpringBoot</div>
              <div class="progress-bar" value="91%">
                <div class="progress-line" style="max-width: 91%"></div>
              </div>
            </div>

          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxs-data'></i>
            </div>
            <div class="skill-content">
              <div class="subject">SQL, PostgreSQL</div>
              <div class="progress-bar" value="93%">
                <div class="progress-line" style="max-width: 93%"></div>
              </div>
            </div>

          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-angular'></i>
            </div>
            <div class="skill-content">
              <div class="subject">Angular</div>
              <div class="progress-bar" value="88%">
                <div class="progress-line" style="max-width: 88%"></div>
              </div>
            </div>

          </div>

          <div class="skill">
            <div class="skill-icon">
              <i class='bx bxl-django'></i>
            </div>
            <div class="skill-content">
              <div class="subject">Django</div>
              <div class="progress-bar" value="63%">
                <div class="progress-line" style="max-width: 63%"></div>
              </div>
            </div>

          </div>

        </div>
      </section>

      <!--   ********  Right Section Ends Here  ********   -->
    </div>

  </div>
</div>
