<div class="about">
  <div id="title">
    <img id="cartoon" src="../../../assets/img/cartoon22.gif">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
  </div>

  <div class="about-content">
    <h2>Sobre mi</h2>
    <p>
      ¡Hola! Soy Amador, un ingeniero electrónico buscando nuevas expeciencias como <strong>desarrollador de software y aplicaciones web</strong>. Mi objetivo es convertirme en desarrollador Full-Stack y aunque llevo poco tiempo en este mundo, mi atención a los detalles, dedicación y ganas de aprender, me permiten trabajar eficazmente en colaboración con equipos y clientes para alcanzar resultados de alta calidad.
      <br><br>
      En mi portafolio, además de ojear mi <strong><a href="/resume">currículum</a></strong>, podrás encontrar una selección de mis primeros <strong><a href="/projects">proyectos</a></strong>, que muestran mi capacidad para diseñar y desarrollar aplicaciones atractivas e intuitivas y crear soluciones innovadoras y eficientes que transforman las ideas en realidades tangibles.
      <br><br>
      Si buscas un desarrollador comprometido, apasionado por su trabajo y con gran potencial, no dudes en ponerte en <strong><a href="/contact">contacto</a></strong> conmigo. Estoy siempre abierto a nuevas oportunidades de aprendizaje y colaboración.
      <br><br>
      ¡Gracias por visitar mi portafolio!
    </p>

    <div class="about-contact-button">
      <a href="/contact">Contacto</a>
    </div>

  </div>

  <div class="skills__progressBar">

    <!--   *******  Main Heading Starts  *******   -->

    <div class="main-title">
      <h2>Habilidades</h2>
    </div>
    <!--   *******  Main Heading Ends  *******   -->

    <div class="row">

      <!--   *******  Left Section Starts here  *******   -->

      <section class="col">

        <div class="sub-title">
          <h2>Lemguajes</h2>
        </div>

        <div class="skills-skills__progressBar">

          <div class="skill">
            <div class="subject">HTML</div>
            <div class="progress-bar" value="94%">
              <div class="progress-line" style="max-width: 94%"></div>
            </div>
          </div>

          <div class="skill">
            <div class="subject">CSS</div>
            <div class="progress-bar" value="83%">
              <div class="progress-line" style="max-width: 83%"></div>
            </div>
          </div>

                  <div class="skill">
            <div class="subject">JavaScript</div>
            <div class="progress-bar" value="88%">
              <div class="progress-line" style="max-width: 88%"></div>
            </div>
          </div>

          <div class="skill">
            <div class="subject">Python</div>
            <div class="progress-bar" value="68%">
              <div class="progress-line" style="max-width: 68%"></div>
            </div>
          </div>

        </div>
      </section>

      <!--   ********  Left Section Ends Here  *******  -->

      <!--   ********  Right Section Starts Here  ********  -->

      <section class="col">

        <div class="sub-title">
          <h2>Frameworks & Herramientas </h2>
        </div>

        <div class="skills-skills__progressBar">

          <div class="skill">
            <div class="subject">Angular</div>
            <div class="progress-bar" value="82%">
              <div class="progress-line" style="max-width: 82%"></div>
            </div>
          </div>

          <div class="skill">
            <div class="subject">SpringBoot</div>
            <div class="progress-bar" value="74%">
              <div class="progress-line" style="max-width: 74%"></div>
            </div>
          </div>

                  <div class="skill">
            <div class="subject">Django</div>
            <div class="progress-bar" value="63%">
              <div class="progress-line" style="max-width: 63%"></div>
            </div>
          </div>

          <div class="skill">
            <div class="subject">SQL, PostgreSQL</div>
            <div class="progress-bar" value="91%">
              <div class="progress-line" style="max-width: 91%"></div>
            </div>
          </div>

        </div>
      </section>

      <!--   ********  Right Section Ends Here  ********   -->
    </div>

  </div>
</div>
