/* Ocultar seccion */
/* nav ul li:nth-child(6) {
  display: none;
} */


.show-button{
  padding: 10px;
  border-radius: 20%;
  background-color: transparent;
  color: transparent;
  border: 0px;
}


footer {
  position: relative;
  background: #3586ff;
  filter: grayscale(100%);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

footer .social_icon,
footer .menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

footer .social_icon li,
footer .menu-footer li {
  text-transform: uppercase;
  list-style: none;
}
footer .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

footer .menu-footer li a {
  font-size: 1.2em;
  color: #fafafa;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .menu-footer li a:hover {
  opacity: 1;
  color: blue;
}
p {
  color: whtie;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.copyright {
  color: #fafafa;
  opacity: 80%;
}

/*wave and animation*/
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://i.ibb.co/rZt4Nhg/wave.png);

  background-size: 1000px 100px;
}

footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 0;
  animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

/* Enlaces */
.menu-footer{
  display: flex;
  text-transform: uppercase;
}

.toggle a{
  font-size: 20px;
}

.menu-footer ul{
  list-style: none;
}

.menu-footer li{
  text-align: center;
  list-style: none;
}

.menu-footer a{
  padding: 5px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: all 250ms;
  border: 1px solid transparent;
  border-radius: 0%;
}

.menu-footer a:hover, .actived{
  font-weight: bold;
  transform: scale(1.2, 1.2);
  text-decoration: underline;
}

/* Mobile version*/
@media all and (max-width: 900px) {

  .menu-footer{
    flex-direction: column;
  }

}
