/* FUENTES CUSTOM */
@font-face {
  font-family: Yanone;
  src: url('fonts/yanone.ttf');
}

@font-face {
  font-family: finger;
  src: url('fonts/Fingerprint.otf');
}


/* GENERALES */
*{
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* Backup anterior */
  font-family: Yanone, Arial, Helvetica;
  font-size: 20px;
  background-color: #fafafa;
  /*
  background: url('../img/bg-green.jpg');
  background-size: 100%;
  background-attachment: fixed;
  */
}

header,
footer {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
  display: flex;
}


.clearfix{
  float: none;
  clear: both;
}

.sections{
  margin-top: 30px;
}

/* ESTILOS BARRA NAVEGACION */

/* header .web-title{
  height: 50px;
  text-align: center;
} */

.menu{
  text-transform: uppercase;
  background: #2e2e2e
}

.toggle a{
  font-size: 20px;
}

.menu ul{
  list-style: none;
}

.menu li{
  padding: 10px;
  margin: 10px;
  list-style: none;
}

.menu .toggle {
  color: rgb(255, 255, 255);
}

.menu .item a{
  padding: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 24px;
  transition: all 800ms;
  border: 1px solid transparent;
  border-radius: 100%;
}

.menu .item a:hover{
  transform: scale(1.3, 1.3);

  background: rgba(243, 148, 49, 0.6);
  color: #2e2e2e;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.9);

  font-weight: bold;
}

.menu .item .actived{
  background: rgba(243, 148, 49, 0.9);
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.9);

  color: #2e2e2e;
  font-weight: bold;
}

.menu .item:hover{
  transform: scale(1.1, 1.1);
  font-weight: bold;
}

  /* Logo */
.menu img{
  width: 150px;
  height: 150px;
/*   background-color: rgba(228, 232,210, 1); */
/*   margin-right: 50px; */
  border-radius: 100%;
  transition: all 300ms;
  margin-right: 50px;
}

.menu img:hover{
  transform: scale(1.1, 1.1);
}


/* CONTENEDOR PRINCIPAL */
#content{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0px auto;
  margin-bottom: 200px;
  margin-top: 30px;
  min-height: 500px;
}


/* PIE DE PAGINA */
/* #footer{
  position: absolute;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
} */


/* SOBRE MI -about- */
#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  text-align: center;
}

#title h1{
  font-family: finger;
  font-size: 44px;
  color:rgba(0, 0, 0, 1);
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#title h2{
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
}

.about{
  width: 70%;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: Yanone;
}

.about .about-content h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.about p{
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: justify;
}

.about img{
  width: 200px;
  height: auto;
  border-radius: 100%;
  padding: 10px;
}

/* SECCION CREAR PROYECTO */
.container{
  display: flex;
  flex-direction: column;
  margin: 0px auto;
}

.container h2{
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.button-edit,
.button-delete{
  width: 30%;
  float:left;
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: rgba(243, 148, 49, 0.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.button-edit:hover{
  background-color: gold;
  color: #fff;
}

.button-delete:hover{
  background-color: firebrick;
  color: #fff;
}

form input[disabled]{
  opacity: 0.4;
  cursor: not-allowed;
}

.form_error{
  font-size: 18px;
  color: white;
  padding: 3px;
  margin-left: 5px;
  background-color: rgb(255, 0, 0, 0.7);
}

/* Alertas */
.message{
  margin-bottom: 30px;
  padding: 5px;
  border: 1px solid #eee;
  text-align: center;
}

.success{
  background-color: green;
  color: white;
  text-align: center;
}

.failed{
  background-color: red;
  color: white;
  text-align: center;
}

/*SECCION PROYECTOS*/

.projects-container h2{
  margin:0px 50px 10px 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

.all-projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 30px;
}

.project{
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.4);
  min-width: 400px;
  max-width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 40px;
  text-align: center;
  transition: all 300ms;
}

@media (max-width: 500px) {
  .all-projects {
    flex-direction: column;
    height: 100%;
  }
}

.project img{
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  transition: all 250ms;
  border-radius: 10px;
}

.project:hover{
  filter: grayscale(1);
  transform: scale(1.05, 1.05);
}

.project a{
  text-decoration: none;
  color: black;
}




.confirm{
  width: 68%;
	display: block;
	font-weight: bold;
	margin-top: 20px;
  background-color: red;
  color: white;
  text-align: center;
  border-bottom: 1px solid transparent;
  border-radius: 5px;
}


/* ESTILOS ARTICLES*/
article{
  width: 80%;
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 1.2em;
}

article p{
  text-align: justify;
}

article h2{
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

article img{
  width: 280px;
  height: 200px;
  padding: 10px;
}

article .keywords a{
  font-style: italic;
  color: blue;
}

article .first ol a{
  text-decoration: none;
}

article .first ul{
  list-style: none;
  text-indent: 1em;
}

article .first ul a{
  font-weight: bold;
}

article ol a{
  text-decoration: none;
}

article ul{
  list-style: none;
  /* text-indent: 1em; */
}

article ul a{
  font-weight: bold;
}



/* MENUS DESPLEGABLES */
summary {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin: -1.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
  border: #ccc 1px solid;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.summary-content{
  margin-top: 10px;
}

.summary-content li{
  margin-top: 5px;
}

details{
  padding: 0.5em 0.5em 0;
}

details[open] {
  padding: 0.5em;
  margin-top: 10px;
}

details[open] summary{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  border: #ccc 0px solid;
}



