@media all and (max-width: 900px) {

  .project{
    padding: 0px;
    padding-bottom: 10px;
    min-width: 0px;
  }

  .projects-container h2{
    margin-left: 0px;
    margin-right: 0px;
  }

  .project img{
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }



  .project a .project-info p{
    max-width: 200px;
  }
}

@media (max-width: 500px) {
  .all-projects {
    flex-direction: column;
    height: 100%;
  }
}

.project a:hover > .project-card{
  opacity: 0.1;
}

.project a .project-info{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(46,46,46,0.8);
  border-radius: 40px;
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  padding: 10px;
}

.project a:hover > .project-info {
  opacity: 1;
  visibility: visible;
}

.project a .project-info h3{
  color: #fff;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
}

.project a .project-info p{
  color: #fff;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.project a:hover > .project-info h3{
  margin-top: 45px;
  margin-bottom: 15px;
}

.project a:hover > img{
  transform: scale(1.3);
}


