<div class="projects-container">

  <h2>Proyectos</h2>

  <div class="all-projects">

      <div class="project" *ngFor="let project of projects" >

        <!-- <a [routerLink]="['/project', project.name]"> -->
          <!-- Se coge el name en lugar del id para que figure en la url -->

        <a [routerLink]="project.name !== 'YourBank' ? ['/project', project.name] : null"
          (click)="checkRedirect(project.name, $event)">
          <!-- <img src="{{ url + 'get-image/' + project.image }}" *ngIf="project.image"/> -->
          <div class="project-card">
            <img src="{{project.image}}" *ngIf="project.image">
            <h3>{{ project.name }}</h3>
            <p>{{ project.langs }}</p>
          </div>

          <div class="project-info" *ngIf="project.name != 'YourCommerce'">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
          </div>

          <div class="in-development" *ngIf="project.name == 'YourCommerce'">
            <h1> 🚧  EN DESARROLLO... </h1>
          </div>

        </a>

      </div>


  </div>

</div>
