<!--Cabecera--><!--Barra de navegacion-->

  <nav>
    <ul class="menu">

      <li class="logo"><img src="../assets/img/amadorcf_logo.png"></li>
      <li class="item"><a [routerLink]="['about']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li class="item"><a [routerLink]="['resume']" [routerLinkActive]="['actived']">CV</a></li>
      <li class="item"><a [routerLink]="['projects']" [routerLinkActive]="['actived']">Proyectos</a></li>


      <!-- Oculto esta seccion a traves de CSS -->
      <li class="item acf show"><a [routerLink]="['create']" [routerLinkActive]="['actived']">Crear proyecto</a></li>

      <li class="item"><a [routerLink]="['contact']" [routerLinkActive]="['actived']">Contacto</a></li>

      <li class="toggle"><a><i class="fa-solid fa-bars"></i></a></li>
    </ul>
  </nav>



<!--Contenido principal-->
<main>
  <section id="content">
    <router-outlet></router-outlet>
  </section>
</main>


<!--Pie de pagina-->
<!-- <footer id="footer">
  Porfolio Project &copy; 2024
</footer> -->

<app-footer></app-footer>




