/* Ocultar seccion */
/* nav ul li:nth-child(6) {
  display: none;
} */
.dark-back {
  background-color: var(--text-color);
  color: #fafafa;
}

.show-button{
  padding: 20px;

  background-color: transparent;
  color: transparent;
  border: 0px;
}

.show{
  display: none;
}

/* Desktop menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 10px;
}

.logo{
  order: 1;
}

.toggle {
  display: none;
}

.item {
  text-align: center;
  width: 100px;
  order: 2;
}





/* Tablet menu */
@media all and (max-width: 600px) {
  .menu {
    justify-content: center;
  }

  .show{
    display: none;
  }
}

/* Mobile menu */
@media all and (max-width: 968px) {

  .item {
    width: 100%;
    display: none;
    text-align: center;
    transition: 3s;
  }

  .item.active-nav {
    display: block;
  }

  .item.show.active-nav {
    display: none;

  }

  .toggle {
    display: block;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .menu{
    gap:0;
  }

  .menu a{
    padding: 8px 10px;
  }

  .menu .item a{
    border-radius: 5%;
  }

  .menu .item a:hover {
    background: rgba(243, 148, 49, 0.9);
  }

  .menu li {
    padding: 8px 10px;
    margin: 0px;
  }



  .menu img{
    margin-right: 0px;
    width: 120px;
    height: 120px;
  }

  .show{
    display: none;
  }


  nav ul li:nth-child(2) {
    border-top: .25px solid #707070;
    width: 80%;
  }

  nav ul li:nth-child(6) {
    margin-bottom: 20px;
    border-bottom: .25px solid #707070;
    width: 80%;
  }


}


