/* Ocultar seccion */
/* nav ul li:nth-child(6) {
  display: none;
} */


.show-button{
  padding: 20px;

  background-color: transparent;
  color: transparent;
  border: 0px;
}

.show{
  display: none;
}

/* Desktop menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.logo{
  order: 1;
}

.toggle {
  display: none;
}

.item {
  text-align: center;
  order: 2;
}



/* Tablet menu */
@media all and (max-width: 600px) {
  .menu {
    justify-content: center;
  }

  .show{
    display: none;
  }
}

/* Mobile menu */
@media all and (max-width: 950px) {

  .item {
    width: 100%;
    display: none;
    text-align: center;
  }

  .item.active {
    display: block;
  }

  .item.show.active {
    display: none;
  }

  .toggle {
    display: block;
  }

  .logo {
    order: 0;
  }

  .item {
    order: 1;
  }

  .menu a{
    padding: 5px 10px;
  }

  .menu .item a{
    border-radius: 5%;
  }

  .menu .item .actived{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9);
  }

  .menu .item a:hover {
    background: rgba(243, 148, 49, 0.9);
  }


  .menu li {
    padding: 8px 10px;
  }

  .menu img{
    margin-right: 0px;
    width: 120px;
    height: 120px;
  }

  .show{
    display: none;
  }

  nav ul li:nth-child(6) {
    margin-bottom: 20px;
  }
}


