<!--Cabecera-->


<!--Barra de navegacion-->
<nav class="nav">

  <ul>
    <li><a [routerLink]="['about']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['projects']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><img src="../assets/img/amadorcf_logo.png" ></li>
    <li><a [routerLink]="['create']" [routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li ><a [routerLink]="['contact']" [routerLinkActive]="['actived']" >Contacto</a></li>
  </ul>
</nav>

<!--Contenido principal-->
<section id="content">
  <router-outlet></router-outlet>
</section>

<!--Pie de pagina-->
<footer id="footer">
  Porfolio Project &copy;
</footer>


