.project__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.video_player{
  display: flex;
  justify-content: center;
}

vg-player{
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.4);
  width: 854px;
  height: 480px;
}

/* SIDEBAR styles */
.sidenav-container {
  height: 100%;
}

.sidenav {
  padding: 20px;
  background-color: var(--body-color);
}

.content__section {
  padding: 20px;
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

mat-list-item a {
  text-decoration: none;
  color: inherit;
}

mat-list-item a.active {
  font-weight: bold;
}
