<h2 class="title">19: jQuery</h2>
<div class="sub-summary-content">
  <ul>
    <li><strong >Keywords</strong>
      <ol>
        <li>
          &lt;
          script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js?ver=1.8.1"
          &gt;
        </li>

        <li>$("h1")</li>

      </ol>
    </li>

    <li><strong>Selectors</strong>
      <br>With JavaScript: document.querySelector("h1")
        VS  With jQuery: $("h1")
    </li>

    <li><strong>Minification</strong>
      <p>https://minifier.org/</p>
    </li>

    <li><strong>Methods</strong>
      <p>css()</p>
      <p>addClass()</p>
      <p>attr()</p>
      <p>keydown()</p>
      <p>"hide()" and "show()"</p>
      <p>toogle()</p>
      <p>animate()</p>
    </li>
  </ul>
</div>
