/*========== BASE ==========*/
*,::before, ::after{
  box-sizing: border-box;
}

/*========== Variables Dark theme ==========*/
.cv-container.dark-theme{
  --title-color: #F2F2F2;
  --text-color: #f8f8f8;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2e2e2e;
}



/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: .3s;
  border-radius: 50%;
}

.change-theme:hover{
  color: var(--container-color);
  background-color: var(--text-color-light);

}


/*========== Generate PDF button ==========*/
.generate-pdf{
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.5rem;
  transition: .5s;
  border-radius: 50%;
}

.generate-pdf:hover{
  color: var(--container-color);
  background-color: var(--text-color-light);

}

.cv-container{
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

.cv-container h1,
.cv-container h2,
.cv-container h3,
.cv-container p{
  margin: 0;
}

.cv-container h1,
.cv-container h2,
.cv-container h3{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

/* .cv-container ul{
  padding: 0;
  list-style: none;
} */

.cv-container a{
  text-decoration: none;
}

.cv-container img{
  max-width: 100%;
  height: auto;
  filter: saturate(0.9);
}
/*========== CLASS CSS ==========*/
.section{
  padding:  1rem 0;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  /* gap: 1.5rem; */
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--text-color);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
  transition: 0.3s;
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--container-color-alt);
}


@media screen and (max-width: 968px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--container-color-alt);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: 0.3s;
  }

  .nav__logo, .nav__toggle{
    color: var(--container-color-alt);
    font-weight: var(--font-medium);
  }

  .nav__logo{
    font-size: 1.2rem;
    cursor: pointer;
  }

  .nav__item{
    text-align: center;
  }

  .nav__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__link{
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
    padding: 3px;
  }

  .nav__link:hover{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }

  .nav__icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
  }
}

/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

/* Active menu link */
.active-link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  border: 1px solid transparent;
  box-shadow: 0 1px 5px #a3a3a3;
  border-radius: 10%;
}

/*========== HOME ==========*/
.home{
  position: relative;
}

.home__container{
  gap: 3rem;
}

.home__data{
  gap: .5rem;
  text-align: center;
}

.home__img{
  width: 120px;
  height: 170px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title{
  font-size: var(--h1-font-size);
}
.home__profession{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address{
  gap: .1rem;
  text-align: center;
  font-family: var(--body-font);;
}

.home__informarion{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__address a{
  color: var(--text-color);
}

.home__address a:hover{
  font-weight: bold;
}

.home__icon{
  font-size: 1rem;
  margin-right: .25rem;
}

.home__button-movil{
  display: inline-block;
  border: 2px solid var(--container-color);
  color: var(--title-color);
  padding: .2rem 1.5rem;
  border-radius: .4rem;
  transition: 0.3s;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
  background-color: rgba(30, 215, 96, 1);;
}

.home__button-movil:hover{
 background-color: var(--text-color-light);
 color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
  text-align: center;
}

.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover{
  color: var(--ttitle-color);
}

.social__icon{
  font-size: 2rem;
  margin-right: 0.25rem;
}

.social__icon:hover{
  color: #f39431e6;
}

/*========== PROFILE ==========*/
.profile__description{
  text-align: center;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education__content, .experience__content{
  display: flex;
  margin-bottom: .5rem;
}

.education__time, .experience__time{
  padding-right: 1rem;
}

.education__rounder, .experience__rounder{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-top: .25rem;
}

.education__line, .experience__line{
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--text-color);
  transform: translate(7px, 0);
}

.education__data, .experience__data{
  gap: .2rem;

}

.education__title, .experience__title{
  font-size: var(--h3-font-size);
}

.education__studies, .experience__company{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year{
  font-size: var(--small-font-size);
}

ul.experience__description{
  list-style: circle;
  margin-left: 1rem;
  margin-bottom: var(--mb-1);

}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content, .lenguages__content {
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
  text-align: center;
}

h3.skills__content{
  margin-left: 1rem;
}

.lenguages__content{
  gap: 0;
}

.skills__name, .lenguages__name{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mb-1);
}

.skills__circle, .lenguages__circle{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-right: .75rem;
}

.skills .dev-icons{
  display: flex;
  justify-content: center;
  gap: 5px;
}

.skills .list-inline-item{
  font-size: 2rem;
}

.skills ul{
  padding: 0;
  list-style: none;
}

/*========== CERTIFICATES ==========*/
.formation__content{
  margin-bottom: var(--mb-1);
}
h3.formation__title{
  font-size: var(--h3-font-size);

}

p.formation__description{
  font-size: var(--small-font-size);
}

/*========== INTERESTS ==========*/
.interests__main-container{
  display: flex;
  justify-content: center;
}

.interests__container{
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
  row-gap: .5rem;
}

.interests__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interests__icon{
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.25rem;
}

.interests__name{
  text-align: center;
}

/* Scroll top */
.scrolltop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: -20%;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon{
  color: var(--text-color);
  font-size: 1.5rem;
}

.show-scroll{
  visibility: visible;
  bottom: 4rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px){
  .nav__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem
  }

  .skills .list-inline-item{
    font-size: 2rem;
  }
}

/* Classes modified for large screen size */
@media screen and (min-width: 968px){
  .cv-container{
    margin: 3rem 0;
  }

  .bd-container{
    margin-left: auto;
    margin-right: auto;
  }

  .l-header, .scrolltop{
    display: none;
  }

  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(12, 12, 12, .3);
  }

  .resume__left{
    background-color: #D7FEE3;
  }

  .resume__left,.resume__right{
    padding: 0 1.5rem;
  }

  .generate-pdf{
    display: inline-block;
  }

  .section-title, .profile__description{
    text-align: center;
  }

  .home__container{
    gap: 1rem;
  }

  .home__button-movil{
    display: none;
  }

  .lenguages__content{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .skills .dev-icons{
    gap: 10px;
  }

  .skills .list-inline-item{
    font-size: 3rem;
  }

}
