<div class="cv-container">
  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
    <nav class="nav bd-container">
      <a href="/resume" class="nav__logo"><i class='bx bx-terminal' ></i> amadorcf/cv</a>
      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/resume#home" class="nav__link active-link">
              <i class="bx bx-home nav__icon"></i>Inicio
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#profile" class="nav__link">
              <i class="bx bx-user nav__icon"></i>Perfil
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#education" class="nav__link">
              <i class="bx bx-book nav__icon"></i>Educación
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#skills" class="nav__link">
              <i class="bx bx-receipt nav__icon"></i>Habilidades
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#experience" class="nav__link">
              <i class="bx bx-receipt nav__icon"></i>Experiencia profesional
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#formation" class="nav__link">
              <i class="bx bx-award nav__icon"></i>Formacion
            </a>
          </li>

          <li class="nav__item">
            <a href="/resume#references" class="nav__link">
              <i class="bx bx-link-external nav__icon"></i>Referencias
            </a>
          </li>
        </ul>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class="bx bx-grid-alt"></i>
      </div>
    </nav>
  </header>

  <main class="l-main bd-container">
    <!-- All elements within this div, is generated in PDF -->
    <div class="resume" id="area-cv">
      <div class="resume__left">
        <!--========== HOME ==========-->
        <section class="home" id="home">
          <div class="home__container section bd-grid">
            <div class="home__data bd-grid">
              <img
                src="../../../assets/img/CV.jpg"
                alt=""
                class="home__img"
              />
              <h1 class="home__title">AMADOR <br><b>CANO FERNANDEZ</b></h1>
              <h3 class="home__profession">Future Full-Stack Developer</h3>

              <!-- Theme change button -->
              <i class="bx bx-moon change-theme" title="Theme" id="theme-button"></i>

              <div class="home__address bd-grid">
                <span class="home_information">
                  <i class="bx bx-map home__icon"></i>Baeza (Jaén)
                </span>
                <span class="home_information">
                  <i class="bx bx-envelope home__icon"></i>amadorcf&#64;outlook.com
                </span>
                <span class="home_information">
                  <i class='bx bx-globe'></i><a href="https://amadorcf.es"> amadorcf.es</a>
                </span>
                  <!--               <span class="home_information">
                  <i class="bx bx-phone home__icon"> (+34) 687912364</i>
                </span> -->
              </div>

              <!-- Button to generate and download the pdf. Available for desktop. -->
              <a download="" href="../../../assets/pdf/amadorcfCV_2024.pdf">
                <i class="bx bx-download generate-pdf" title="Descargar PDF" id="resume-button"></i>
              </a>

              <div class="pdf__button">
                <a download="" href="../../../assets/pdf/amadorcfCV_2024.pdf" class="home__button-movil">Descargar<br>CV</a>
              </div>

            </div>


          </div>
        </section>

        <!--========== SOCIAL ==========-->
        <section class="social section">
          <h2 class="section-title">SOCIAL</h2>
          <div class="social__container">
            <a href="https://www.linkedin.com/in/amadorcf/" target="_blank" class="social__link">
              <i class="bx bxl-linkedin-square social__icon"></i>
            </a>

            <a href="https://github.com/amadorcf" target="_blank" class="social__link">
              <i class="bx bxl-github social__icon"></i>
            </a>

          </div>
        </section>

        <!--========== PROFILE ==========-->
        <section class="profile section" id="profile">
          <h2 class="section-title">Perfil</h2>
          <p class="profile__description">
            Graduado en Ingeniería Electrónica y Automática.
            <br>Organizado, resolutivo, trabajador y con espíritu de continuo aprendizaje y renovación.
            <br>Actualmente inmerso en un giro profesional buscando nuevas experiencias en el mundo del desarrollo.
          </p>
        </section>

        <!--========== EDUCATION ==========-->
        <section class="education section" id="education">
          <h2 class="section-title">Educacion</h2>

          <div class="education__container">
            <div class="education__content">
              <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
              </div>


              <div class="education__data bd-grid">
                <h3 class="education__title">Master en Ingenieria Mecatrónica <br> (60% completado)</h3>
                <span class="education__studies">Universidad de Málaga</span>
                <span class="education__year">2018 - ...</span>
              </div>
            </div>
          </div>

          <div class="education__container">
            <div class="education__content">
              <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
              </div>


              <div class="education__data bd-grid">
                <h3 class="education__title">Grado en Ing. Electrónica<br>(Beca MOVILIDAD INTERNACIONAL)</h3>
                <span class="education__studies">Universidad Autónoma Metropolitana<br>Ciudad de México</span>
                <span class="education__year">2014 - 2015</span>
              </div>
            </div>
          </div>

          <div class="education__content">
            <div class="education__time">
              <span class="education__rounder"> </span>
            </div>
            <div class="education__data bd-grid">
              <h3 class="education__title">Grado en Ing. Electrónica y Automática Ind.</h3>
              <span class="education__studies">Universidad de Jaén</span>
              <span class="education__year">2013 - 2017</span>
            </div>
          </div>
        </section>

        <!--========== FORMATION ==========-->
        <section class="formation section" id="formation">
          <h2 class="section-title">Formación</h2>

          <div class="formation__content">
            <h3 class="formation__title">Curso Spring Security 6, JWT y OAuth2.0</h3>
            <p class="formation__description">
              Actualmente - <em>Udemy</em>
            </p>
          </div>

          <div class="formation__content">
            <h3 class="formation__title">Master en JavaScript: Aprender JS, jQuery, Angular, NodeJS</h3>
            <p class="formation__description">
              Feb 2024 - <em>Udemy</em>
            </p>
          </div>

          <div class="formation__content">
            <h3 class="formation__title">Master en TypeScript, JavaScript Moderno, ES2024, APIs HTML5</h3>
            <p class="formation__description">
              Ene 2024 - <em>Udemy</em>
            </p>
          </div>

          <div class="formation__content">
            <h3 class="formation__title">100 Days of Code: The Complete Python Pro Bootcamp for 2022</h3>
            <p class="formation__description">
              Oct 2022 - <em>Noble Work Foundation</em>
            </p>
          </div>

        </section>

        <!--========== LANGUAGES ==========-->
        <section class="languages section">
          <h2 class="section-title">IDIOMAS</h2>

          <div class="lenguages__container">
            <ul class="lenguages__content">
              <li class="lenguages__name">
                <span class="lenguages__circle"></span>Español
              </li>
              <li class="lenguages__name">
                <span class="lenguages__circle"></span>Inglés (Nivel B2)
              </li>
            </ul>
          </div>
        </section>


      </div>

      <div class="resume__right">
        <!--========== EXPERIENCE ==========-->
        <section class="experience section" id="experience">
          <h2 class="section-title">Experiencia Profesional</h2>

          <div class="experience__container">
            <div class="experience__content">
              <div class="experience__time">

                <div class="experience__content">
                  <div class="experience__time">
                    <span class="experience__rounder"></span>
                    <span class="experience__line"></span>
                  </div>

                  <div class="experience__data bd-grid">
                    <h3 class="experience__title">Desarrollador Back-end Junior</h3>
                    <h3 class="experience__company">BXMART SL</h3>
                    <span class="experience__company">Feb 2023 - Dic 2023</span>
                      <ul class="experience__description">
                        <li><p>Aprendizaje avanzado en desarrollo de software ERP con Java Spring Boot para integrar diferentes gadgets/hardware en un servicio web dedicado a las aplicaciones web desarrolladas por la empresa.</p></li>
                        <li><p>Nuevos desarrollos con Google Apps Script y mantenimiento de apps ya creadas</p></li>
                        <li><p>Soporte técnico a los diferentes departamentos de la empresa relacionados con la suite de herramientas de Google: Docs, Sheets, Drive...</p></li>
                      </ul>
                  </div>
                </div>

                <div class="experience__content">
                  <div class="experience__time">
                    <span class="experience__rounder"></span>
                    <span class="experience__line"></span>
                  </div>

                  <div class="experience__data bd-grid">
                    <h3 class="experience__title">Técnico de ofertas Instalaciones Fotovoltaicas</h3>
                    <h3 class="experience__company">INCALEXA</h3>
                    <span class="experience__company">Sep 2020 - Dic 2021</span>
                    <ul class="experience__description">
                      <li><p>Estudio de ofertas eléctricas, autoconsumo solar derivadas de la prospección comercial.</p></li>
                      <li><p>Análisis de mejoras e implementación en las herramientas corporativas.</p></li>
                      <li><p>Análisis de obras públicas relacionadas con las líneas de la empresa. Preparación y
                        presentación de las ofertas.</p></li>
                    </ul>
                  </div>
                </div>

                <div class="experience__content">
                  <div class="experience__time">
                    <span class="experience__rounder"></span>
                    <span class="experience__line"></span>
                  </div>

                  <div class="experience__data bd-grid">
                    <h3 class="experience__title">Responsable area técnica</h3>
                    <h3 class="experience__company">PLASTICOS CANO SL</h3>
                    <span class="experience__company">Sep 2020 - Dic 2021</span>
                    <ul class="experience__description">
                      <li><p>Gestión de la producción de la materia prima.</p></li>
                      <li><p>Estudio y control de la energía: evaluando demanda y consumo energético diario, cotejando los datos y adaptándolo al mercado eléctrico.</p></li>
                      <li><p>Organización y supervisión del correcto funcionamiento de la maquinaria. Planificando los debidos mantenimientos correctivos y preventivos.</p></li>
                      <li><p>Creación y mantenimiento de la web: <a href="https://www.plasticoscano.com/">plasticoscano.com</a></p></li>
                    </ul>
                  </div>
                </div>

                <div class="experience__content">
                  <div class="experience__time">
                    <span class="experience__rounder"></span>
                    <!-- <span class="experience__line"></span> -->
                  </div>

                  <div class="experience__data bd-grid">
                    <h3 class="experience__title">Director Servico Tecnico</h3>
                    <h3 class="experience__company">RENOVE SMART SOLUTIONS SL</h3>
                    <span class="experience__company">Abr 2019 - Ago 2020</span>
                    <ul class="experience__description">
                      <li><p>Organización del equipo técnico, supervisando el cumplimiento de las tareas y objetivos propuestos y garantizando un buen ambiente de trabajo.</p></li>
                      <li><p>Soporte técnico de robots de farmacia GOLLMANN, garantizando el correcto funcionamiento tanto de la parte software como de la parte hardware del mismo.</p></li>
                      <li><p>Planificación de nuevos equipos a instalar.</p></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--========== REFERENCES ==========-->
        <!-- <section class="references section" id="references">
          <h2 class="references__title">REFERENCIAS</h2>
          <div class="references__content">
            <h3 class="references__title">Referencia ...</h3>
            <p class="references__description">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
          </div>
        </section> -->

        <!--========== SKILLS  ==========-->
        <section class="skills section" id="skills">
          <h2 class="section-title">Habilidades</h2>

          <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class='bx bxl-java' title="Java"></i></li>
            <li class="list-inline-item"><i class="bx bxl-spring-boot" title="SpringBoot Framework"></i></li>
            <li class="list-inline-item"><i class="bx bxl-javascript" title="JavaScript"></i></li>
            <li class="list-inline-item"><i class="bx bxl-angular" title="Angular"></i></li>
            <li class="list-inline-item"><i class="bx bxl-python" title="Python"></i></li>
            <li class="list-inline-item"><i class="bx bxl-django" title="Django Web Framework"></i></li>
            <li class="list-inline-item"><i class="bx bxl-google" title="Google Suite Framework"></i></li>
          </ul>

          <div class="skills__content bd-grid">
            <h3><em>LENGUAJES</em></h3>
            <ul class="skills__data">
              <li class="skills__name">
                <i class='bx bx-terminal' ></i> &nbsp;
                <strong>Java, JavaScript/TypeScript, Python</strong>
              </li>
              <li class="skills__name">
                <i class='bx bx-code-alt'></i> &nbsp;
                <strong>HTML & CSS</strong>
              </li>
            </ul>

            <h3><em>FRAMEWORKS Y HERRAMIENTAS</em></h3>

            <ul class="skills__data">
              <li class="skills__name">
                <span class="skills__circle"></span><em>Front-end: &nbsp;</em>
                <strong> Angular</strong>
              </li>
              <li class="skills__name">
                <span class="skills__circle"></span><em>Back-end: &nbsp;</em>
                <strong>SpringBoot, Node JS, Express, Django</strong>
              </li>
              <li class="skills__name">
                <span class="skills__circle"></span><em>Base de datos: &nbsp;</em>
                <strong>SQL, MongoDB</strong>
              </li>
              <li class="skills__name">
                <span class="skills__circle"></span><em>Otros: &nbsp;</em>

                <ul>
                  <li>
                    <strong>Github, Firebase</strong>
                  </li>
                  <li>
                    <strong> Google Suite, Microsoft Office Suite</strong>
                  </li>
                </ul>

              </li>


            </ul>
          </div>
        </section>


        <!--========== INTERESTS ==========-->
        <section class="interests section">
          <h2 class="section-title">INTERESES</h2>
          <div class="interests__main-container">
            <div class="interests__container bd-grid">
              <div class="interests__content">
                <i class="bx bx-headphone interests__icon"></i>
                <span class="interests__name">Música</span>
              </div>

              <div class="interests__content">
                <i class="bx bx-basketball interests__icon"></i>
                <span class="interests__name">Deporte</span>
              </div>

              <div class="interests__content">
                <i class="bx bxs-book interests__icon"></i>
                <span class="interests__name">Lectura</span>
              </div>

              <div class="interests__content">
                <i class='bx bx-microchip interests__icon'></i>
                <span class="interests__name">Electrónica</span>
              </div>

              <div class="interests__content">
                <i class="bx bxs-plane-alt interests__icon"></i>
                <span class="interests__name">Viajar</span>
              </div>

              <div class="interests__content">
                <i class="bx bx-landscape interests__icon"> </i>
                <span class="interests__name">Naturaleza</span>
              </div>

              <div class="interests__content">
                <i class="bx bxs-game interests__icon"> </i>
                <span class="interests__name">Videojuegos</span>
              </div>

              <div class="interests__content">
                <i class="bx bxs-movie-play interests__icon"> </i>
                <span class="interests__name">Cine y Series</span>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>
  </main>

  <!--========== SCROLL TOP ==========-->
  <a href="/resume#" class="scrolltop" id="scroll-top">
    <i class="bx bxs-up-arrow-alt scrolltop__icon"></i>
  </a>

</div>
