<div class="resume-container">

  <!-- Barra lateral -->
  <aside class="lateral" >
    <div class="personal-data" >
      <ul class="social_icon">
        <li>
          <a href="https://www.linkedin.com/in/amadorcf/"><ion-icon name="logo-linkedin"></ion-icon></a>
          LinkedIn
        </li>
        <li>
          <a href="https://github.com/amadorcf"><ion-icon name="logo-github"></ion-icon></a>
          GitHub
        </li>
        <li>
          <a href="mailto:amadorcf@outlook.com"><ion-icon name="mail"></ion-icon></a>
          <span>amadorcf&#64;outlook.com</span>
        </li>
      </ul>
    </div>
    <section class="skills">
      <h3 class="title">HABILIDADES</h3>
      <ul>
        <li>Python, HTML, CSS</li>
        <li>Django, Flask</li>
        <li>APIs, WTForms, Tkinter,</li>
        <li>Pandas, NumPy, Matplotlib</li>
        <li>Git, GitHub</li>
        <li>SQL, SQLite</li>
      </ul>
    </section>
    <section class="others">
      <h3 class="title">OTROS</h3>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Productos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </section>
  </aside>

  <!--Contenido principal-->
  <div class="resume-content">
    <header>
      <h1>{{title}}</h1>
      <h2>{{subtitle}}</h2>
      <p>{{description}}</p>
    </header>
    <section class="expirience">
      <h3 class="title">EXPERIENCIA PROFESIONAL</h3>

    </section>
    <section class="education">
      <h3 class="title">FORMACION</h3>

    </section>
    <section class="lenguages">
      <h3 class="title">IDIOMAS</h3>

    </section>
    <section class="hobbies">
      <h3 class="title">INTERESES</h3>

    </section>
  </div>




</div>
