<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-4">Skills</h2>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><i class="devicon-java-plain" title="Java"></i></li>
      <li class="list-inline-item"><i class="devicon-javascript-plain" title="JavaScript"></i></li>
      <li class="list-inline-item"><i class="devicon-react-plain" title="React"></i></li>
      <li class="list-inline-item"><i class="devicon-angularjs-plain" title="Angular"></i></li>
      <li class="list-inline-item"><i class="devicon-php-plain" title="PHP"></i></li>
      <li class="list-inline-item"><i class="devicon-wordpress-plain" title="WordPress"></i></li>
      <li class="list-inline-item"><i class="devicon-python-plain" title="Python"></i></li>
      <li class="list-inline-item"><i class="devicon-django-plain" title="Django Web Framework"></i></li>
    </ul>
    <div class="subheading mb-2">Languages</div>
    <ul class="fa-ul">
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="terminal"
            class="svg-inline--fa fa-terminal fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512">
            <path fill="currentColor"
              d="M257.981 272.971L63.638 467.314c-9.373 9.373-24.569 9.373-33.941 0L7.029 444.647c-9.357-9.357-9.375-24.522-.04-33.901L161.011 256 6.99 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L257.981 239.03c9.373 9.372 9.373 24.568 0 33.941zM640 456v-32c0-13.255-10.745-24-24-24H312c-13.255 0-24 10.745-24 24v32c0 13.255 10.745 24 24 24h304c13.255 0 24-10.745 24-24z">
            </path>
          </svg></span>Programming: <strong>Java, JavaScript/TypeScript, Python, PHP</strong></li>
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="code"
            class="svg-inline--fa fa-code fa-w-20 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
            <path fill="currentColor"
              d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z">
            </path>
          </svg></span>Markup &amp; Styling: <strong>HTML &amp; CSS, Markdown, LaTeX (Document Preparation)</strong>
      </li>
    </ul>
    <div class="subheading mb-2">Frameworks and Tools</div>
    <ul>
      <li>Front-end: <strong>Angular, React, Next.js</strong></li>
      <li>Back-end: <strong>SpringBoot, Django, WordPress</strong></li>
      <li>Design: <strong>Figma, Adobe Photoshop, Lightroom</strong></li>
      <li><strong>Git &amp; GitHub</strong></li>
      <li><strong>IntelliJ IDEA, Sublime Text, VS Code</strong> (Macros, Packages/Extensions, Code Formating)</li>
      <li><strong>Google Suite, Microsoft Office Suite</strong></li>
    </ul>
    <div class="subheading mb-2">Soft Skills</div>
    <ul class="fa-ul mb-0">
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
            class="svg-inline--fa fa-check fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
            </path>
          </svg></span>Fast learner, continuous drive for self-improvement and self-motivation</li>
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
            class="svg-inline--fa fa-check fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
            </path>
          </svg></span>Consistency in organizing and planning tasks</li>
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
            class="svg-inline--fa fa-check fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
            </path>
          </svg></span>Hard working with a strong motivation to bring on the best possible results</li>
      <li><span class="fa-li"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
            class="svg-inline--fa fa-check fa-w-16 " role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512">
            <path fill="currentColor"
              d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
            </path>
          </svg></span>Problem-solver and decision making while taking full responsability of my actions</li>
    </ul>
  </div>
</section>
